.TeacherCertificatePDF {
    padding: 80px;
    background-repeat: no-repeat;
    background-size: 730px 1070px;
    height: 1070px;

    img {
        height: 500px;
        width: 500px;
    }
    header {
        font-size: 10pt;
        letter-spacing: 1.5px;
        p:last-child {
            font-size: 9pt;
            letter-spacing: -1px;
        }
    }

    .documents {
        margin-top: 20px;
        text-align: right;
    }
    
    .title {
        line-height: 40px;
        text-align: center;
        font-size: 16pt;
        text-transform: uppercase;
        margin-top: 60px;
        font-weight: bold;
    }

    .subtitle {
        text-align: center;
        margin-top: 15px;
    }

    .main-info {
        margin-top: 40px;

        .name {
            p:last-child {
                text-indent: 1.25cm;
            }
        }
    }

    footer {
        margin-top: 30px;

        .chief {
            margin-top: 20px;
            text-align: right;
        }
    }
}