table {
    th:not(:first-child) {
        text-align: center;
    }

    td:not(:first-child) {
        text-align: center;
    }
}

details {
    margin-bottom: 15px;
}

summary {
    margin-bottom: 10px;
}

details[open] summary ~ * {
    // animation: open 1s ease-in-out;
  }
  
  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  details summary {
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    list-style: none;
  }
  
  details[open] summary:after {
    transform: rotate(45deg);
    font-size: 2rem;
  }

  details summary {
    outline: 0;
  }

  details p {
    font-size: 0.95rem;
    margin: 0 0 1rem;
  }