table {
    th:not(:first-child) {
        text-align: center;
    }

    td:not(:first-child) {
        text-align: center;
    }

    .column-options {
        display: flex;
        justify-content: center;
    }
}

.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border-radius: 6px;

    .button-wrapper {
        float: right;
        margin-top: 5px;

        .modal-button:hover {
            color: white;
            background-color: #124682 !important;
        }
    }

    .close-icon {
        font-size: 23px;
        float: right;
        color: #6b778c;
        cursor: pointer;
    }

    .close-icon:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

.PreviewModal {
    overflow: scroll;
    height: 100%;
}

.pdf {
    font-family: 'Times New Roman', serif;
    header {
        text-align: center;
        font-size: 12pt;

        p:nth-child(2) {
            font-weight: bold;
        }

        hr:nth-child(1) {
            margin-bottom: 10px;
        }

        margin-bottom: 10px;
    }

    margin: 0.85cm;

    .top-level {
        text-align: right;
        margin-bottom: 30px;
    }
}

.toolbar {
    .reset-button:hover {
        background-color: #757575;
    }
}

@media print {
    html, body {
        border: 1px solid white;
        height: 99%;
        page-break-after: avoid;
        page-break-before: avoid;
    }
}