.StudentSecondaryCertificatePDF {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;

    .page-one {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 1120px;

        div {
            position: absolute;
        }

        .pks-wrapper {
            position: absolute;
            top: 12.9cm;
            left: 3.3cm;
        }
    
        div:nth-child(1) {
            top: 7.6cm;
            left: 8cm;
        }
    
        div:nth-child(2) {
            top: 7.6cm;
            left: 11cm
        }
    
        div:nth-child(3) {
            top: 7.6cm;
            left: 12.8cm;
        }
    
        div:nth-child(4) {
            text-transform: none;
            top: 8.9cm;
            left: 12.8cm;
        }
    
        div:nth-child(5) {
            top: 11.9cm;
            left: 6cm;
        }
    
        div:nth-child(6) {
            top: 13.1cm;
            left: 4.2cm;
        }
    
        div:nth-child(7) {
            text-transform: none;
            top: 13.7cm;
            left: 4.2cm;
        }
    
        div:nth-child(8) {
            top: 14.9cm;
            left: 9.8cm;
        }
    
        div:nth-child(9) {
            top: 14.9cm;
            left: 15cm;
        }
    
        div:nth-child(10) {
            top: 16cm;
            left: 6.1cm;
        }
    
        div:nth-child(11) {
            top: 16.6cm;
            left: 6.1cm;
        }

        div:nth-child(12) {
            text-transform: none;
            top: 24.5cm;
            left: 8cm;
        }

        .grade-wrapper {
            position: relative;
            padding: 0 3.4cm;
            padding-top: 19.1cm;
            display: flex;
            flex-direction: column;
            gap: 0.118cm;

            .grade {
                text-transform: none;
                display: flex;
                justify-content: space-between;
            }

            .grade:nth-child(8) {
                padding-top: 10cm;
            }
        }
    }

    .page-two {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 99%;

        div {
            position: absolute;
        }

        div:nth-child(1) {
            text-transform: none;
            top: 54.4cm;
            left: 8cm;
        }
    }
}