.DashboardResult {
    .dashboard-item {

        .item-wrapper {
            flex-direction: row;

            .item {
                text-align: left;
                // max-width: 100%;

                .title {
                    text-align: center;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }
            }

        }
    }

    .dashboard-item:nth-child(2) {
        text-align: center;
        bottom: 0;
    }
}