.ProtocolSecondaryListItem {
    .column-options {
        .trash-icon, 
        .edit-icon,
        .print-icon,
        .preview-icon,
        .word-icon {
            font-size: 32px;
        }

        .text-edit-icon {
            font-size: 26px;
        }

        .trash-icon {
            color: #f44336;
        }

        .edit-icon {
            color: #124682;
        }

        .print-icon {
            color: #696969;
        }

        .word-icon {
            color: #1675c2
        }

        .preview-icon {
            color: #0e94ff;
        }

        .text-edit-icon {
            color: #F28C28;
        }

        .trash-icon-wrapper {
            margin-left: 10px;
        }
        
        .edit-icon-wrapper {
            margin-left: 10px;
        }

        .print-icon-wrapper {
            margin-left: 10px;
        }

        .word-icon-wrapper {
            margin-left: 10px;
        }

        .text-edit-icon-wrapper {
            margin-left: 10px;
        }

        .trash-icon-wrapper:hover {
            background-color: transparent;
            .trash-icon {
                filter: brightness(0.5);
            }
        }

        .edit-icon-wrapper:hover  {
            background-color: transparent;
            .edit-icon {
                filter: brightness(0.5);
            }
        }

        .print-icon-wrapper:hover {
            background-color: transparent;
            .print-icon {
                filter: brightness(0.5);
            }
        }

        .word-icon-wrapper:hover {
            background-color: transparent;
            .word-icon {
                filter: brightness(0.5);
            }
        }

        .preview-icon-wrapper:hover {
            background-color: transparent;
            .preview-icon {
                filter: brightness(0.5);
            }
        }

        .text-edit-icon-wrapper:hover {
            background-color: transparent;
            .text-edit-icon {
                filter: brightness(0.5);
            }
        }
    }
}